<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>KeychainAccess</string>
		<key>link</key>
		<string>https://github.com/kishikawakatsumi/KeychainAccess</string>
		<key>license</key>
		<string>The MIT License (MIT)
Copyright (c) 2014 kishikawa katsumi</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SVGKit</string>
		<key>link</key>
		<string>https://github.com/SVGKit/SVGKit</string>
		<key>license</key>
		<string>Copyright (c) 2010-2011 Matt Rajca, 2011-2015 various authors
Parts Copyright (c) Tipbit Inc</string>
	</dict>
	<dict>
		<key>title</key>
		<string>NextcloudKit</string>
		<key>link</key>
		<string>https://github.com/Nextcloud/NextcloudKit</string>
		<key>license</key>
		<string>https://github.com/nextcloud/NextcloudKit

GPLv3 Licensed

Copyright (c) Marino Faggiana

Alamofire - MIT License (MIT) 
SwiftyXMLParser - MIT License (MIT) 
SwiftyJSON - MIT License (MIT)</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Nextcloud iOS</string>
		<key>link</key>
		<string>https://github.com/nextcloud/ios</string>
		<key>license</key>
		<string>GNU General Public License v3.0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>VLCKit</string>
		<key>link</key>
		<string>https://code.videolan.org/videolan/VLCKit</string>
		<key>license</key>
		<string>GNU Lesser Generic Public License 2.1
Copyright (c) VideoLAN</string>
	</dict>
	<dict>
		<key>title</key>
		<string>OpenSSL</string>
		<key>link</key>
		<string>https://www.openssl.org/source/license.html</string>
		<key>license</key>
		<string>https://www.openssl.org/source/license.html

Copyright (C) 1995-1998 Eric Young (eay@cryptsoft.com)</string>
	</dict>
</array>
</plist>
